@import "tailwindcss";


body {
  font-family: "Jost", serif;
}

@theme {
  --breakpoint-sm: 320px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --color-primary: #f6f6f6;
  --color-secondary: #FAF8F4;
  --color-footernav: rgba(0, 0, 0, 0.6);
  --size-footernav: 14px;
}

.text-footernav {
  color: var(--color-footernav);
  font-size: var(--size-footernav);
  width: fit-content;
  position: relative;
  cursor: pointer;
}

.text-footernav::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transform-origin: left;
}

.text-footernav:hover::after {
  transform: scaleX(1);
}

.text-footernav:not(:hover)::after {
  transform-origin: right;
  transform: scaleX(0);
}


.hover-animation{
  position: relative;
  cursor: pointer;
}

.hover-animation::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transform-origin: left;
}

.hover-animation:hover::before {
  transform: scaleX(1);
}

.hover-animation:not(:hover)::before {
  transform-origin: right;
  transform: scaleX(0);
}

.swiper-pagination-bullet {
  background-color: black !important;
}


.shopgrid-banner {
  background-image: url("./assets/Images/shop/shop-header.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-button-next,
.swiper-button-prev {
  color: #6b7280 !important;
  font-size: 2rem !important; 
  font-weight: light;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #6b7280 !important;
  font-size: 2rem !important;
}
